.svg-map a{ text-decoration:none }
.svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
.svg-map a:hover { cursor:pointer; text-decoration:none }
.svg-map a:hover path{ fill:#003399 !important }
.svg-map a:hover .circle { fill:#003399 !important; cursor:pointer }
.svg-map a.selected path { fill: #003399 !important; }


.selection_type button {
    width: 225px;
}   